body {
	width: 100%;
	height: 3000px;
	
	margin: 0px;
	padding: 0px;
}

header {
	width: 100%;
	height: 100vh;

	background-image: url('../image/header.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
}

.logo__menu {

	width: 100%;
	height: 70px;

	

	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.logo {
	width: 35%;
	height: 100%;



	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding-left: 15px;
}

.name {
	width: 90%;
	height: 33%;

	display: inline-block;

	margin-top: 17px;

	color: white;
	font-size: 35px;
	text-shadow: black 1px 1px 1px;


	font-family: 'Fjalla One', sans-serif;
}

.buttons {
	width: 75%;
	height: 100%;

	
}

.btn__wrapper {
	width: 100%;
	height: 50%;

	

	display: flex;
	flex-direction: row;

}

.buttons__ul {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;

	border-radius: 15px 0px 0px 0px ;

}

.buttons__ul li {
	width: 24%;
	height: 100%;


	list-style-type: none;

	padding-top: 10px;
	text-align: center;
}

.buttons__ul li a {
	width: 100%;
	height: 100%;

	display: block;
	text-align: center;

	text-decoration: none;

	color: white;
	font-size: 21px;
	text-shadow: black 1px 1px 1px;

	transition: color 1s;
}

.buttons__ul li a:hover {
	color: black;

}


/*////////////info///////////////////////*/

.info {
	width: 100%;
	height: 80%;
	

	margin-top: 110px;

	transition: background 1s;
}

.info:hover {
	background: rgba(0, 0, 0, 0.3);
}

.info__name {

	width: 100%;
	height: 10%;

	
	display: flex;
	flex-direction: column;
}

.dip__name {
	width: 100%;
	height: 50%;

	text-align: center;
}

.dip__name span {
	width: 50%;
	height: 100%;

	display: inline-block;

	color: white;
	text-shadow: black 1px 1px 1px;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
}

.dip__surname {
	width: 100%;
	height: 50%;

	text-align: right;
}

.dip__surname span {
	width: 50%;
	height: 100%;

	display: inline-block;
	margin-right: 10px;

	color: white;
	text-shadow: black 1px 1px 1px;
	font-size: 21px;
	font-family: 'Oswald', sans-serif;
}

.info__photo {
	width: 100%;
	height: 65%;

	

	text-align: center;

	margin-top: 80px;
}

.info__photo div {
	width: 41%;
	height: 100%;

	display: inline-block;

	background-image: url('../image/face.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;

	border-radius: 49%;
}

.info__GH {
	width: 100%;
	height: 100%;

	text-align: left;
}

.info__GH div {

	width: 30%;
	height: 100px;
	display: inline-block;
}


.info__GH div a {

	display: inline-block;

	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;

	
	margin-top: 50px;
}
/*////////////////////////////////////////////*/

.about {
	width: 100%;
	height: 500px;

	background-image: url('../image/about.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.about__info {

	width: 70%;
	height: 350px;


	margin-left: 15%;
	margin-top: 75px;

	background-color: rgba(75,164,120, 0.3);

}

.about__title {
	color: white;
	text-shadow: black 1px 1px 1px;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.about__description {
	color: white;
	text-shadow: black 1px 1px 1px;
	font-size: 19px;
	text-align: center;

	margin-top: 50px;
}

/*///////////////////////////////////////////*/

.services {
	width: 100%;
	height: 1000px;

	background-color: rgb(255,255,255);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.choice {
	width: 100%;
	height: 500px;

	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.var {
	width: 25%;
	height: 500px;

	

	text-align: center;
}






